header {
    background-color: indigo;
}

#carouselExampleControls {
    background-color: mediumpurple;
}

footer {
    background-color: mediumpurple;
    height: 100px;
}

.slidermenu {
    height: 100px;
    background-color: mediumpurple;
}